*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}

/* activo */
.nav{
    box-sizing: border-box;
    width: 100%;
    padding: 18px 0 ;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    box-shadow: none;
    transition: all .3s;
}
.nav__active{
    background-color: rgb(15,30,42);
    box-shadow: 7px 4px 20px 0px black;
    transition: all .3s;
}


.nav a{
    color: white;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* activo */
.nav__container--logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 40px;
    padding-left: 5%;
    transition: all .3s;
}

.nav__container--logo__active{
    font-size: 30px;
    transition: all .3s;
}


.nav__container__menu{
    display: flex;
    padding: 0px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* active */
.nav__container__menu__item{
    padding: 10px;
    font-size: 20px;
    transition: all .3s;
}


.nav__container__menu__item__active{
    font-size: 16px;
    transition: all .3s;
}

.nav__container__menu__item a:hover{
    color: rgb(149, 202, 149);
}

.nav i{
    color: white;
    margin-right: 20%;
    font-size: 250%;
    display: none;
}

.header{
    width: 100%;
    background-image: linear-gradient(rgba(109, 196, 228, 0.8),rgba(109, 196, 228, 0.8)),url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header__container{
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 15%;
    top: 35%;
    left: 10%;
    padding: 20px;
}

.header__container--titulo{
    font-family: 'Dancing Script', cursive;
}
.header__container--texto{
    padding-left: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: solid 2px red;
}

.nosotros{
    padding-top: 10px;
    width: 100%;
    height: 55vh;
    background-color: hsla(0, 0%, 89%, 0.775);

}

.nosotros__container{
    background-color: white;
    padding: 15px;
    width: 60%;
    margin: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 5px 5px 10px 2px black;

}

.nosotros__container__carta{
    display: flex;
    padding: 30px;
    position: relative;
    align-items: center;
    text-align: center;
}

.nosotros__container__carta--logo{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-shadow: 8px 10px 2px black;
    color: white;
    padding: 7% 2%;
    position: absolute;
    top: 95%;
    left: -10%;
    background-image: linear-gradient(rgba(149, 238, 135, .5), rgba(149, 238, 135, .5)), url(../img/fondo2.jpg);
    background-position: center;
    background-size: cover; 
}

.nosotros__container__carta--texto{
    width: 50%;
    position: absolute;
    /* margin-left: 10%; */
    top: 85%;
    right: 15%;
    border-left: 2px solid black;
    padding: 10px;
}

.operaciones{
    width: 100%;
}
.operaciones__container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.operaciones__container--titulo{
    padding: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.operaciones__container__operaciones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.operaciones__container__operaciones__operacion{
    position: relative;
    width: calc(100% / 3);
}
.operaciones__container__operaciones__operacion img{
    height: 100%;
}
.operaciones__container__operaciones__operacion:hover .operaciones__container__operaciones__operacion__info{
    visibility: visible;
    opacity: 1;
    transition: all .3s;
}
.operaciones__container__operaciones__operacion img{
    width: 100%;
}

.operaciones__container__operaciones__operacion__info{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(150, 147, 235, 0.8);
    display: flex;
    color: white;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.contacto{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.contacto__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contacto__container{
    display: flex;
}
.contacto__container__titulo{
    font-size: 300%;
    padding: 2%;
}

.contacto__container__contenido{
    display: flex;
    justify-content: space-around;
}

.contacto__container__contenido__medios{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto__container__contenido__medios__imagen{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__container__contenido__medios__imagen span{
    border-radius: 50%;
    font-size: 200%;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.contacto__container__contenido__medios__imagen img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:6px solid rgba(0, 0, 0, 0.1);
}

.contacto__container__contenido__medios__logos{
    padding: 3%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.contacto__container__contenido__medios__logos i{
    font-size: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.contacto__container__contenido__medios__logos .fa-facebook{
    color: #139DF8;
}
.contacto__container__contenido__medios__logos .fa-whatsapp{
    color: #06D755;
}
.contacto__container__contenido__medios__logos .fa-instagram-square{
    color: rgb(220, 130, 220);
}


.contacto__container__contenido__mapa{
    border:6px solid rgba(0, 0, 0, 0.1);
    width: 45%;
}

.contacto__container__contenido__mapa iframe{
    width: 100%;
    height: 100%;  
}

.footer{
    padding: 10px;
    background-color: rgb(20, 20, 98);
}

.footer__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__container__empresa{
    font-family: 'Dancing Script', cursive;
    color: white;
}

.footer__container__desarrollador{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.319);
}

@media screen and (max-width:1023px){
    .nosotros__container__carta{
        padding: 10px;
    }
    .nosotros__container__carta--logo{
        left: -17%;
    }
    .nosotros__container__carta--texto{
        width: 70%;
        right: 0;
        font-size: 12px;
    }
    .contacto__container__titulo{
        font-size: 250%;
    }
}

@media screen and (max-width:767px){
    .nav{
        background-color: rgb(15,30,42);
        box-shadow: 7px 4px 20px 0px black;
    }
    .nav__container--logo{
        font-size: 30px;
    transition: all .3s;
    }
    .nav__container__menu{
        display: none;
    }

    .nav__container__menu__item{
        font-size: 30px;
    transition: all .3s;
    }
    .nav i{
        display: block;
    }
    .nav__container__menu.mostrarMenu{
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.428);
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 0;
    }

    .header__container{
        width: 55%;
    }   
    
    .header__container--titulo{
        font-size: 48px;
    }

    .header__container--texto{
        font-size: 24px;
    }

    .nosotros__container__carta--logo{
        width: 35%;
        top: 140%;
    }
    .operaciones__container__operaciones__operacion__info{
        font-size: 24px;
        visibility: visible;
        opacity: 1;
    }
    .contacto__container__contenido__medios__imagen span{
        font-size: 150%;
    }
}

@media screen and (max-width:480px){
    .header__container--titulo{
        font-size: 32px;
    }

    .header__container--texto{
        font-size: 16px;
    }

    .nosotros{
        height: 80vh;
    }
    .nosotros__container{
        width: 75%;
        height: 75%;
    }
    .nosotros__container__carta--logo{
        top: 200%;
        font-size: 24px;
    }
    .operaciones__container__operaciones__operacion{
        width: 100%;
    }
}

@media screen and (max-width:320px){
    .nav i{
        font-size: 24px;
    }

    .nosotros{
        height: 100vh;
    }
    .nosotros__container__carta--logo{
        top: 400%;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 16px;
        height: 100px;
    }

    .operaciones__container--titulo{
        font-size: 32px;
    }

    .contacto__container__titulo{
        font-size: 32px;
    }

    .footer__container__empresa{
        font-size: 12px;
    }

    .footer__container__desarrollador{
        font-size: 12px;
    }
    .contacto__container__contenido__medios__imagen{
        padding-bottom: 4px;
    }
    .contacto__container__contenido__medios__imagen span{
        font-size: 12px;
    }

    .contacto__container__contenido__medios__logos i{
        font-size: 18px;
    }
}

